/dts-v1/;
#include "soph_base_arm.dtsi"
#include "soph_asic_qfn.dtsi"
#include "soph_asic_sd.dtsi"
#include "soph_default_memmap.dtsi"

/ {
	model = "Milk-V Duo256M";

	aliases {
		mmc0 = &sd;
		mmc1 = &wifisd;
	};

	leds {
		compatible = "gpio-leds";

		led-user {
			gpios = <&porte 2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "activity";
		};
	};
};

&mipi_rx {
	snsr-reset = <&portc 17 GPIO_ACTIVE_LOW>, <&portc 17 GPIO_ACTIVE_LOW>, <&portc 17 GPIO_ACTIVE_LOW>;
};

&i2c0 {
	status = "disabled";
};

&i2c4 {
	status = "disabled";
};

&spi2 {
	status = "okay";

	spidev@0 {
		status = "okay";
	};
};

&dac {
	mute-gpio-r = <&porte 1 GPIO_ACTIVE_LOW>;
};

&soc_thermal_0 {
	cooling-maps {
		map0 {
			trip = <&soc_thermal_trip_0>;
			cooling-device = <&cooling THERMAL_NO_LIMIT 1>;
		};
		map1 {
			trip = <&soc_thermal_trip_1>;
			cooling-device = <&cooling THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
		};
	};
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

/* gpio porte 2 is connected to led */
&vo {
	reset-gpio = <&porte 3 GPIO_ACTIVE_LOW>;
};
